header {
  height:400px;
  background-image:url(images/banniere.jpg);
  border:1px solid #CCC;
  width:1000px;
  margin:0px auto;
  position: relative;
}

#header h1{
  color:white;
  text-align: center
}
footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #45a1ff;
    color: #fff;
}