#Caching schema
<FilesMatch "\.(jpg|png|php|css|html|js|jpeg|xml)$">
Header set Cache-Control "private, max-age=25200"
</FilesMatch>

#Password Protect file
<Files /admin/index.php>
AuthName "Accès règlementé"
AuthType Basic
AuthUserFile /.htpswwd
Require valid-user
</Files>

#Custom 404 errors
ErrorDocument 404 /404.html

#Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>
 
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^([a-zA-Z0-9]+)$ $1.php [L,R=301]